/*avatar*/

.avatar-wrapper {
    position: relative;
    height: 200px;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 160px;
    height: 160px;
    border: 10px solid #3fc38f;
    border-radius: 50%;
    background: url(../image/avatar.png) top/cover no-repeat;
}

.avatar:hover {
    transition: box-shadow linear .5s;
    box-shadow: 0 0 10px #00ffff;
}


/*contact*/

.info-wrapper,
.contact-wrapper {
    position: relative;
    height: 200px;
}

.contact {
    padding-left: 15px;
    border-left: 3px dotted #3fc38f;
    position: absolute;
    top: 50%;
    height: 160px;
    transform: translate(0, -50%);
    display: inline-block;
}