.item,
.link {
    height: 40px;
    line-height: 40px;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
    color: #3fc38f;
}

.link:hover {
    color: #FF6A6A;
    text-decoration: underline;
}

.link:hover::after {
    content: ' #';
    color: #3fc38f;
    display: inline;
}

.title,
.sub-title {
    position: relative;
    display: block;
    text-align: center;
}

.title {
    color: #3fc38f;
}

.sub-title {
    color: #999;
}

b {
    color: #FF6A6A;
}

.resume {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #999;
}